
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome to {{ appName }}</title>
  </head>
  <body>
    <h1>Hi {{ name }},</h1>
    <p>
      Welcome to {{ appName }}! Your account for {{ businessName }} has been created.
    </p>
    <p>
      You can log in using this email address and start editing your website right away.
    </p>
    <p>Regards,<br />{{ appName }} Team</p>
  </body>
</html>